header{
    background-color: #444447;
    color: white;
    text-align: left;
    font-family: "Montserrat", sans-serif;
font-weight: lighter;
}
body{
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100;
    text-align: center;
}
main{
    background-color: white;
    display: inline-block;
}
.todolist{
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    text-align: center;
    margin-bottom: auto;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
#inputDiv{
    display: block;
    padding: 10px;
}
button{
    background-color: #4351cf;
    color: white;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 5px;

    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 150px;
    margin: 150px;
    gap: 10px ;
}
.task {
    display: flex;
    gap: 10px;
    align-items: center;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    margin-left: auto;
    font-size: 24px;
}
#taskList{
    border: 1px solid gray;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding: 30px;

}
#taskInput{
    padding: 10px;

}

input[type="checkbox"] {
    accent-color: #3a40dc; /* красный */
}
.completed input{
    border: 1px solid gray;
}